@import "tailwindcss";
@plugin "daisyui";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";

body {
    @apply text-neutral-800;
    font-family: "inter";
}

@font-face {
  font-family: "instrument-sans";
  src: url("../assets/fonts/InstrumentSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("../assets/fonts/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lilex";
  src: url("../assets/fonts/Lilex.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family: 'instrument-sans';
}

.mono {
    font-family: "lilex"
}

button {
    @apply btn btn-sm btn-neutral cursor-pointer rounded-none shadow-none w-full;
}

.warning {
    @apply bg-red-500 border-0 text-white hover:bg-red-600 active:bg-red-700 transition-all;
}

details {
    @apply rounded-none!;
}

details summary {
    @apply rounded-none!;
}

details ul {
    @apply rounded-none!;
}

details li {
    @apply rounded-none!;
}

details a {
    @apply rounded-none!;
}


.status {
    @apply rounded-none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="date"]  {
    @apply input input-sm w-full border-neutral-200 text-neutral-800 focus:outline-0 focus:shadow-none focus:border-neutral-800 rounded-none;
}

input[type="checkbox"]:active  {
    @apply focus:shadow-none active:shadow-none ;
}

input[type="checkbox"]:focus  {
    @apply focus:shadow-none active:shadow-none ;
}

input[type="checkbox"]:checked  {
    @apply focus:shadow-none active:shadow-none ;
}

textarea {
    @apply textarea textarea-sm w-full border-neutral-200 text-neutral-800 focus:outline-0 focus:shadow-none focus:border-neutral-600 rounded-none;
}

label {
    @apply text-sm text-neutral-400 capitalize;
}

.file-input {
    @apply p-0 pr-8;
}

.activable {
    @apply cursor-pointer hover:bg-neutral-50 active:bg-neutral-100 transition-all;
}

.activable-red {
    @apply cursor-pointer hover:bg-red-50 active:bg-red-100 transition-all;
}

h2 {
    @apply text-2xl font-semibold capitalize;
}

h3 {
    @apply text-xl font-semibold capitalize;
}

.box {
    @apply px-6 py-4;
}

.box-sm {
    @apply px-4 py-2 text-sm;
}

.b-t {
    @apply border-t border-neutral-200;
}

.b-b {
    @apply border-b border-neutral-200;
}

.b-l {
    @apply border-l border-neutral-200;
}

.b-r {
    @apply border-r border-neutral-200;
}

.b-f {
    @apply border border-neutral-200;
}

.ss-v {
    @apply h-full max-h-full overflow-hidden overflow-y-auto;
}

/* Chrome, Edge, Safari */
/* ::-webkit-scrollbar {
  display: none;
} */

/* Firefox */
* {
    scrollbar-width: none;
}

/* IE et anciens Edge */
* {
    -ms-overflow-style: none;
}